---
layout: default
background-class: home-page-background
body-class: get-started
display-news-banner: ture
---




<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <div class="row">
        <!-- Normal content -->
        <div class="col-md-7">
            
          <div style="width: 338%;">
            <!-- <p class="lead" style="font-size: 2em;">Thanks to our 80+ volunteer developers from 16 institutes and 3 continents!</p> -->
            <p class="lead" style="font-size: 2em;">Thanks to our <span style="font-size: 2em;">80+</span> volunteer developers from <span style="font-size: 2em;">20+</span> institutes and <span style="font-size: 2em;">4</span> continents!</p>
          </div>
     
        </div>
    </div>
  </div>
</div>

<div class="main-content-wrapper">
  {% if page.display-news-banner == true %}
  {% assign news = site.news | sort: "order" %}

    <div id="news-items">
      <div class="list container news-banner-container">
        {% for news_item in news %}
          <div class="news-banner-text">
            {% include news_banner_info.html %}
          </div>
        {% endfor %}
      </div>
      <div class="pagination"></div>
    </div>
    {% else %}
    <div class="no-banner"></div>
  {% endif %}


  <section class="section">
    <div class="container" style="grid-template-columns: 20% 20% 20% 20% 20%;">
      <div class="columns">
  
        <div class="column is-12">
          <p> <br> <br> </p>
          <h1 style="font-size:35px;">Key Supporting Labs</h1>
        </div>

        <div class="container homepage-feature-module key-features-module">
          <div class="row">
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg" style="top:62px; left:5px;">
                  <img src="/assets/images/SAIRLAB.png">
                </div>
                <div class="floatTextLAB">
                  <h2>SAIR Lab</h2>
                  <p style="font-weight:bold"> State University of New York at Buffalo </p>
                  <p> Our research goal is to achieve human-level spatial awareness and reasoning on robotic systems. </p>
                </div>
                <a href="https://sairlab.org/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>  

            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg" style="top:65px;">
                  <img src="/assets/images/ARILAB.png">
                </div>
                <div class="floatTextLAB">
                  <h2>ARI Lab</h2>
                  <p style="font-weight:bold"> Pennsylvania State University </p>
                  <p> Our mission is to advance state-of-the-art aerial autonomy by bridging the aerospace and robotic communities. </p>
                </div>
                <a href="https://ari-psu.github.io/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg" style="top:82px;">
                  <img src="/assets/images/AIRLAB.png">
                </div>
                <div class="floatTextLAB">
                  <h2>AIR Lab</h2>
                  <p style="font-weight:bold"> Carnegie Mellon University </p>
                  <p> Our mission is to advance state-of-the-art autonomy. </p>
                </div>
                <a href="https://theairlab.org/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg" style="top:62px;">
                  <img src="/assets/images/RSL.png">
                </div>
                <div class="floatTextLAB">
                  <h2>RSL</h2>
                  <p style="height: 0px"></p>
                  <p style="font-weight:bold"> ETH Zürich </p>
                  <p>
                    The Robotic Systems Lab (RSL) designs machines, creates actuation principles and builds up control technologies for autonomous operation in challenging environments. </p>
                </div>
                <a href="https://rsl.ethz.ch/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>  
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg" style="top:66px;">
                  <img src="/assets/images/SPARKLAB.png">
                </div>
                <div class="floatTextLAB">
                  <h2>SPARK Lab</h2>
                  <p style="font-weight:bold"> Massachusetts Institute of Technology </p>
                  <p>
                    The SPARK Lab works at the cutting edge of robotics and autonomous systems research for air, space, and ground applications. </p>
                </div>
                <a href="https://web.mit.edu/sparklab/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
  
        <div class="column is-12">
          <p> <br> <br> </p>
          <h1 style="font-size:35px;">Key Supporting Personnel</h1>
        </div>

        <div class="container homepage-feature-module key-features-module">
          <div class="row">
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/ChenWang.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Chen Wang</h2>
                      <p style="font-weight:bold"> State University of New York at Buffalo </p>
                      <p> Assistant Professor </p>
                </div>
                <a href="https://sairlab.org/team/chenw/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>  
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/JunyiGeng.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Junyi Geng</h2>
                      <p style="font-weight:bold"> Pennsylvania State University </p>
                      <p> Assistant Professor </p>
                </div>
                <a href="https://ari-psu.github.io/team/junyi_geng/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/YaoyuHu.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Yaoyu Hu</h2>
                      <p style="font-weight:bold"> Carnegie Mellon University </p>
                      <p> Postdoctoral Fellow </p>
                </div>
                <a href="http://www.huyaoyu.com/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>

            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/DaningHuang.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Daning Huang</h2>
                      <p style="font-weight:bold"> Pennsylvania State University </p>
                      <p> Assistant Professor </p>
                </div>
                <a href="https://www.aero.psu.edu/department/directory-detail-g.aspx?q=dfh5340" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>  
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/Sebastian.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Sebastian Scherer</h2>
                      <p style="font-weight:bold"> Carnegie Mellon University </p>
                      <p> Associate Research Professor </p>
                </div>
                <a href="http://theairlab.org/team/sebastian/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>
          </div>
        </div>

        <div class="container homepage-feature-module key-features-module">
          <div class="row">
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/Luca.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Luca Carlone</h2>
                      <p style="font-weight:bold"> Massachusetts Institute of Technology </p>
                      <p> Associate Professor </p>
                </div>
                <a href="https://lucacarlone.mit.edu/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>  
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/LihuaXie.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Lihua Xie</h2>
                      <p style="font-weight:bold"> Nanyang Technological University </p>
                      <p> Professor </p>
                </div>
                <a href="https://personal.ntu.edu.sg/elhxie/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>

            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/Marco.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px;">Marco Hutter</h2>
                      <p style="height: 0px"></p>
                      <p style="font-weight:bold"> ETH Zürich </p>
                      <p> Professor </p>
                </div>
                <a href="https://rsl.ethz.ch/the-lab/people/person-detail.MTIxOTEx.TGlzdC8yNDQxLC0xNDI1MTk1NzM1.html" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>
        
            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/JiajunWu.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px;">Jiajun Wu</h2>
                      <p style="height: 0px"></p>
                      <p style="font-weight:bold"> Stanford University </p>
                      <p> Assistant Professor </p>
                </div>
                <a href="https://jiajunwu.com/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>

            <div class="col-sm">
              <div class="floatcard">
                <div class="floatImg">
                  <img src="/assets/images/personnel/Karthik.png">
                </div>
                <div class="floatText">
                      <h2 style="font-size:20px">Karthik Dantu</h2>
                      <p style="font-weight:bold"> State University of New York at Buffalo </p>
                      <p> Associate Professor </p>
                </div>
                <a href="https://cse.buffalo.edu/faculty/kdantu/" target="_blank" rel="noopener noreferrer" class='floatcard-link'></a>
              </div>
            </div>  
        
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- {% include quick_start_module.html %} -->
  <head>
    <style>
        /* This style will center the image on the page */
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
  </head>
</div>


<style>
  .button.is-info {
   background-color:#3f9ba7;
   border-color:transparent;
   color:#fff
  }
  .button.is-info.is-hovered {
   background-color:#3f9ba7;
   border-color:transparent;
   color:#fff
  }
</style>



<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-12">
        <p> <br> <br> </p>
        <h1 style="font-size:35px;">Volunteer Developers</h1>


      <div class="container homepage-feature-module key-features-module">

        <div class="row">
          <div class="col-md-12">

            <div class="row key-features-boxes">
                <div class="col-md-3 key-feature-box">
                  <h5>Dasong Gao</h5>
                  <p>PhD Student</p>
                  <p>Massachusetts Institute of Technology</p>
                </div>
              
                <div class="col-md-3 key-feature-box">
                  <h5>Kuan Xu</h5>
                  <p>PhD Student</p>
                  <p>Nanyang Technological University</p>
                </div>
              
                <div class="col-md-3 key-feature-box">
                  <h5>Yuheng Qiu</h5>
                  <p>PhD Student</p>
                  <p>Carnegie Mellon University</p>
                </div>

                <div class="col-md-3 key-feature-box">
                  <h5>Bowen Li</h5>
                  <p>PhD Student</p>
                  <p>Carnegie Mellon University</p>
                </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Fan Yang</h5>
                <p>PhD Student</p>
                <p>ETH Zürich</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Brady Moon</h5>
                <p>PhD Student</p>
                <p>Carnegie Mellon University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Abhinav Pandey</h5>
                <p>Undergraduate Student</p>
                <p>Pennsylvania State University</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Aryan</h5>
                <p>Undergraduate Student</p>
                <p>Delhi Technological University</p>
              </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Jiahe Xu</h5>
                <p>Engineer</p>
                <p>Carnegie Mellon University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Tianhao Wu</h5>
                <p>Master's Student</p>
                <p>University of Virginia</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Haonan He</h5>
                <p>Master's Student</p>
                <p>Carnegie Mellon University</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Fang Xu</h5>
                <p>Postdoctoral</p>
                <p>Nanyang Technological University</p>
              </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Zhongqiang Ren</h5>
                <p>PhD Student</p>
                <p>Carnegie Mellon University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Shibo Zhao</h5>
                <p>PhD Student</p>
                <p>Carnegie Mellon University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Taimeng Fu</h5>
                <p>PhD Student</p>
                <p>University at Buffalo, SUNY</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Pranay Reddy</h5>
                <p>PhD Student</p>
                <p>University of Massachusetts Amherst</p>
              </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Xiao Lin</h5>
                <p>Undergraduate Student</p>
                <p>Georgia Institute of Technology</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Wenshan Wang</h5>
                <p>Systems Scientist</p>
                <p>Carnegie Mellon University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Jingnan Shi</h5>
                <p>PhD Student</p>
                <p>Massachusetts Institute of Technology</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Rajat Talak</h5>
                <p>Research Scientist</p>
                <p>Massachusetts Institute of Technology</p>
              </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Kun Cao</h5>
                <p>Research Fellow</p>
                <p>Nanyang Technological University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Yi Du</h5>
                <p>PhD Student</p>
                <p>University at Buffalo, SUNY</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Han Wang</h5>
                <p>Research Scientist</p>
                <p>Huawei</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Huai Yu</h5>
                <p>Research Associate Professor</p>
                <p>Wuhan University</p>
              </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Shanzhao Wang</h5>
                <p>Master's Student</p>
                <p>University of Michigan</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Siyu Chen</h5>
                <p>PhD Student</p>
                <p>Nanyang Technological University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Ananth Kashyap</h5>
                <p>High School Student</p>
                <p>Fox Chapel Area High School</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Rohan Bandaru</h5>
                <p>High School Student</p>
                <p>Lexington High School</p>
              </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Zitong Zhan</h5>
                <p>PhD Student</p>
                <p>University at Buffalo, SUNY</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Shaoshu Su</h5>
                <p>PhD Student</p>
                <p>University at Buffalo, SUNY</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Zhipeng Zhao</h5>
                <p>PhD Student</p>
                <p>University at Buffalo, SUNY</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Yutian Chen</h5>
                <p>Undergraduate Student</p>
                <p>Carnegie Mellon University</p>
              </div>

            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Xiangyu Chen</h5>
                <p>Master's Student</p>
                <p>Shandong University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Qihang Li</h5>
                <p>Resarch Scientist</p>
                <p>Johns Hopkins University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Haitao Xiao</h5>
                <p>Engineer</p>
                <p>ZBL</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Huan Xu</h5>
                <p>Master's Student</p>
                <p>Georgia Institute of Technology</p>
              </div>
            </div>

            <div class="row key-features-boxes">
              <div class="col-md-3 key-feature-box">
                <h5>Zihan Wang</h5>
                <p>Master's Student</p>
                <p>Carnegie Mellon University</p>
              </div>

              <div class="col-md-3 key-feature-box">
                <h5>Xiangfu Li</h5>
                <p>PhD Student</p>
                <p>Pennsylvania State University</p>
              </div>
            
              <div class="col-md-3 key-feature-box">
                <h5>Yangmengfei Xu</h5>
                <p>PhD Student</p>
                <p>University of Melbourne</p>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<style>
#blocks {
width:100%;
height:60px;
margin:0 auto;
/* background-color: #ffe; */
}
#block1 {
height:33.33%;
width:30%;
/* background: red; */
float: left;
}
#block2 {
height:33.33%;
width:40%;
/* background: yellow; */
float: left;
}
#block3 {
height:33.33%;
width:30%;
/* background: green; */
float: right;
}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


<!-- <div class="container homepage-feature-module key-features-module">

  <div class="row">
    <div class="col-md-12">

      <div class="row key-features-boxes"> -->


<!-- Load JS for pagination -->

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script list-id="news-items" display-count="1" pagination="true" src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script> -->

