---
layout: default
background-class: home-page-background
body-class: homepage
display-news-banner: false
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <div class="row">
        <!-- Normal content -->
        <div class="col-md-7">
            
          <div style="width: 188%;">
            <!-- <p class="lead" style="font-size: 2em;">Thanks to our 80+ volunteer developers from 16 institutes and 3 continents!</p> -->
            <p class="lead" style="font-size: 3em;">Thanks to our <span style="font-size: 2em;">80+</span> volunteer developers from <span style="font-size: 2em;">16</span> institutes and <span style="font-size: 2em;">3</span> continents!</p>
          </div>
     
        </div>
    </div>
  </div>
</div>

<div class="main-content-wrapper">
  {% if page.display-news-banner == true %}
  {% assign news = site.news | sort: "order" %}

    <div id="news-items">
      <div class="list container news-banner-container">
        {% for news_item in news %}
          <div class="news-banner-text">
            {% include news_banner_info.html %}
          </div>
        {% endfor %}
      </div>
      <div class="pagination"></div>
    </div>
    {% else %}
    <div class="no-banner"></div>
  {% endif %}

  <div class="container homepage-feature-module key-features-module">
    <div class="row">
        <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
            <h2> Who is the main support of the PyPose library? </h2>

            <!-- <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
                See all Features
            </a> -->
            </div>
        </div>
    </div>
  </div>

  <!-- {% include quick_start_module.html %} -->
  <head>
    <style>
        /* This style will center the image on the page */
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
  </head>
  <body>
  <img alt="image" src="https://user-images.githubusercontent.com/8695500/224092775-06d1d803-c5c5-4298-a5e8-22ef7bc33f81.jpg" class="center" style="width:100%">
  </body>
</div>


<style>
  .button.is-info {
   background-color:#3f9ba7;
   border-color:transparent;
   color:#fff
  }
  .button.is-info.is-hovered {
   background-color:#3f9ba7;
   border-color:transparent;
   color:#fff
  }
</style>



<section class="section">
    <div class="container">
        <div class="columns">
            

            
            <div class="column is-12">
                  <h1 style="font-size:35px;">Volunteer Developers</h1>


<!-- <div class="columns is-multiline">
  <div class="column is-12">
    
  </div>

  
  
  <div class="column is-3-desktop is-6-tablet">

      <div class="card">

        
        <div style="height: 200px;">
          <img src="/assets/images/blog-background-2.jpg" alt="Cisco Systems, Inc." style="object-fit: contain; height: 100%;">
        </div>
        

        <div class="card-content">
          <p class="title is-5">Cisco Systems, Inc.</h2>
        </div>
      </div>
  </div>

  <div class="column is-3-desktop is-6-tablet">

      <div class="card">

        
        <div style="height: 200px;">
          <img src="/assets/images/blog-background-3.jpg" alt="Google LLC" style="object-fit: contain; height: 100%;">
        </div>
        

        <div class="card-content">
          <p class="title is-5">Google LLC</h2>
        </div>
      </div>
  </div>

  <div class="column is-3-desktop is-6-tablet">

      <div class="card">

        
        <div style="height: 200px;">
          <img src="/assets/images/blog-background-4.jpg" alt="OPPO US Research Center" style="object-fit: contain; height: 100%;">
        </div>
        

        <div class="card-content">
          <p class="title is-5">OPPO US Research Center</h2>
        </div>
      </div>
  </div>

</div>

            </div>

        </div>
    </div>
</section>

<style>
#blocks {
width:100%;
height:60px;
margin:0 auto;
/* background-color: #ffe; */
}
#block1 {
height:33.33%;
width:30%;
/* background: red; */
float: left;
}
#block2 {
height:33.33%;
width:40%;
/* background: yellow; */
float: left;
}
#block3 {
height:33.33%;
width:30%;
/* background: green; */
float: right;
}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
 -->


 <div class="container homepage-feature-module key-features-module">

  <div class="row">
    <div class="col-md-12">

      <div class="row key-features-boxes">
          <div class="col-md-3 key-feature-box">
            <h5>Dasong Gao</h5>
            <p>PhD Student</p>
            <p>Massachusetts Institute of Technology</p>
          </div>
        
          <div class="col-md-3 key-feature-box">
            <h5>Kuan Xu</h5>
            <p>PhD</p>
            <p>Nanyang Technological University</p>
          </div>
        
          <div class="col-md-3 key-feature-box">
            <h5>Yuheng Qiu</h5>
            <p>PhD Student</p>
            <p>Carnegie Mellon University</p>
          </div>

          <div class="col-md-3 key-feature-box">
            <h5>Bowen Li</h5>
            <p>PhD Student</p>
            <p>Carnegie Mellon University</p>
          </div>
      </div>

      <div class="row key-features-boxes">
        <div class="col-md-3 key-feature-box">
          <h5>Fan Yang</h5>
          <p>PhD Student</p>
          <p>ETH Zürich</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Brady Moon</h5>
          <p>PhD</p>
          <p>Carnegie Mellon University</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Abhinav Pandey</h5>
          <p>Undergraduate Student</p>
          <p>Pennsylvania State University</p>
        </div>

        <div class="col-md-3 key-feature-box">
          <h5>Aryan</h5>
          <p>Undergraduate Student</p>
          <p>Delhi Technological University</p>
        </div>
      </div>

      <div class="row key-features-boxes">
        <div class="col-md-3 key-feature-box">
          <h5>Jiahe Xu</h5>
          <p>PhD Student</p>
          <p>Carnegie Mellon University</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Tianhao Wu</h5>
          <p>Master</p>
          <p>University of Virginia</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Haonan He</h5>
          <p>PhD Student</p>
          <p>Carnegie Mellon University</p>
        </div>

        <div class="col-md-3 key-feature-box">
          <h5>Daning Huang</h5>
          <p>PhD Student</p>
          <p>Pennsylvania State University</p>
        </div>
      </div>

      <div class="row key-features-boxes">
        <div class="col-md-3 key-feature-box">
          <h5>Zhongqiang Ren</h5>
          <p>PhD Student</p>
          <p>Carnegie Mellon University</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Shibo Zhao</h5>
          <p>PhD Student</p>
          <p>Carnegie Mellon University</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Taimeng Fu</h5>
          <p>PhD Student</p>
          <p>University at Buffalo, SUNY</p>
        </div>

        <div class="col-md-3 key-feature-box">
          <h5>Pranay Reddy</h5>
          <p>PhD Student</p>
          <p>University of Massachusetts Amherst</p>
        </div>
      </div>

      <div class="row key-features-boxes">
        <div class="col-md-3 key-feature-box">
          <h5>Xiao Lin</h5>
          <p>Undergraduate Student</p>
          <p>Georgia Institute of Technology</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Wenshan Wang</h5>
          <p>PhD Student</p>
          <p>Carnegie Mellon University</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Jingnan Shi</h5>
          <p>PhD Student</p>
          <p>Massachusetts Institute of Technology</p>
        </div>

        <div class="col-md-3 key-feature-box">
          <h5>Rajat Talak</h5>
          <p>PhD Student</p>
          <p>Massachusetts Institute of Technology</p>
        </div>
      </div>

      <div class="row key-features-boxes">
        <div class="col-md-3 key-feature-box">
          <h5>Kun Cao</h5>
          <p>PhD</p>
          <p>Nanyang Technological University</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Yi Du</h5>
          <p>PhD Student</p>
          <p>University at Buffalo, SUNY</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Han Wang</h5>
          <p>PhD</p>
          <p>Nanyang Technological University</p>
        </div>

        <div class="col-md-3 key-feature-box">
          <h5>Huai Yu</h5>
          <p>PhD</p>
          <p>Wuhan University</p>
        </div>
      </div>

      <div class="row key-features-boxes">
        <div class="col-md-3 key-feature-box">
          <h5>Shanzhao Wang</h5>
          <p>PhD Student</p>
          <p>University of Michigan</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Siyu Chen</h5>
          <p>PhD Student</p>
          <p>Nanyang Technological University,</p>
        </div>
      
        <div class="col-md-3 key-feature-box">
          <h5>Ananth Kashyap</h5>
          <p>High School Student</p>
          <p>Fox Chapel Area High School</p>
        </div>

        <div class="col-md-3 key-feature-box">
          <h5>Rohan Bandaru</h5>
          <p>High School Student</p>
          <p>Lexington High School</p>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Load JS for pagination -->

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script list-id="news-items" display-count="1" pagination="true" src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script> -->